* {
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 16px;
  padding: 0 10px;
  font-family: system-ui;
}

header {
  margin: 10px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 16px;
  padding: 10px;
  font-family: system-ui;
  text-align: center;
  border-radius: 4px;
}

h1,
h2,
h3 {
  line-height: 1.3
}

.title {
  padding: 0 10px;
}

article {
  margin: 10px auto;
  padding: 0 10px;
}

code {
  font-size: medium;
  border-radius: 4px;
  padding: 3px;
}

blockquote {
  font-size: 14px;
  padding-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 20px;
}

summary {
  padding: 3px;
  padding-left: 10px;
  border-radius: 4px;
}

button {
  cursor: pointer;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td,
th {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px;
}

form {
  cursor: pointer;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card {
  display: inline-block;
  border-radius: 4px;
  background-color: #333;
  box-sizing: border-box;
  padding-inline: 20px;
  overflow: auto;
}

.atx {
  line-height: 1;
  font-family: system-ui;
  font-size: 16px;
}

.active {
  font-weight: bold;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container>div {
  padding: 10px;
  font-family: system-ui;
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #e5e5e5;
  }

  header {
    background-color: #333;

    /* Header decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #333;

    /* Footer decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/lights.png"); */
  }

  blockquote {
    font-size: 14px;
    padding-left: 10px;
    border-left: 5px solid #333;
  }

  code {
    background-color: #333;
  }

  button {
    background-color: #e5e5e5;
    color: #333;
  }

  summary {
    background-color: #333;

  }

  .card {
    background-color: #333;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .active {
    background-color: #055252;
    color: #ffffff;
    font-weight: bold;
  }

  a:link {
    color: #26D9D6;
    text-decoration: underline;

    /* Theme: Teal https://encycolorpedia.com/008080 */
  }

  a:visited {
    color: #26D9D6;
    /*background-color: #26D9D6;*/
    text-decoration: underline;
  }

  a:hover {
    color: #26D9D6;
    /*background-color: #222;*/
    text-decoration: underline;
  }

  a:active {
    color: #26D9D6;
    /*background-color: #036363;*/
    text-decoration: underline;
  }
}

@media only screen and (prefers-color-scheme: light) {
  header {
    background-color: #e5e5e5;

    /* Header decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
  }

  footer {
    background-color: #e5e5e5;

    /* Footer decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/lights.png"); */

  }

  code {
    background-color: #e5e5e5;
  }

  blockquote {
    border-left: 5px solid #e5e5e5;
  }

  summary {
    background-color: #e5e5e5;

  }

  .card {
    background-color: #e5e5e5;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .active {
    background-color: #055252;
    color: #ffffff;
    font-weight: bold;
  }

  button {
    background-color: #333;
    color: #e5e5e5;
  }

  a:link {
    color: #055252;
    text-decoration: underline;

    /* Theme: Teal https://encycolorpedia.com/008080 */
  }

  a:visited {
    color: #055252;
    /*background-color: #055252;*/
    text-decoration: underline;
  }

  a:hover {
    color: #055252;
    /*background-color: #055252;*/
    text-decoration: underline;
  }

  a:active {
    color: #055252;
    /*background-color: #055252;*/
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  /* Styles for small screens (e.g., mobile devices) */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium-sized screens (e.g., tablets) */
}

@media only screen and (min-width: 1025px) {
  /* Styles for large screens (e.g., desktops) */
}