body {
  margin: 10px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 16px;
  padding: 0 10px;
  font-family: system-ui;
}

h1,
h2,
h3 {
  line-height: 1.2
}

* {
  box-sizing: border-box;
}

.lab {
  background-position-x: center;
  background-repeat: repeat;
  background-image: image-set("/images/stripe.jpg");
  background-size: 80%;
  color: #ffffff;

  /* Lab */
}

header {
  margin: 10px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 16px;
  padding: 10px;
  font-family: system-ui;
  text-align: center;
  border-radius: 4px;

  /* Header decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/images/lights.png"); */
}

.active {
  background-color: #036363;
  color: #ffffff;
  font-weight: bold;

}

.title {
  padding: 0 10px;
}

article {
  margin: 10px auto;
  padding: 0 10px;
}

.atx {
  line-height: 1;
  font-family: system-ui;
  font-size: 16px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

form {
  cursor: pointer;
  border-radius: 4px;
}

button {
  cursor: pointer;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
  display: table;
  margin: 0 auto;
}

summary {
  border-radius: 4px;

}

blockquote {
  font-size: 14px;
  padding-left: 10px;
  border-left: 5px solid #e5e5e5;
}

code {
  font-size: medium;
  padding-block: 2px;
  padding-inline: 4px;
  border-radius: 4px;
}

footer {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;

  /* Footer decoration 
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: image-set("/lights.png"); */
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container>div {
  padding: 10px;
  font-family: system-ui;
  text-align: center;
}


@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #e5e5e5;
  }

  header {
    background-color: #333;
  }

  footer {
    background-color: #333;
  }

  code {
    background-color: #333;
  }

  button {
    cursor: pointer;
    border-radius: 4px;
    background-color: #e5e5e5;
    color: #333;
  }

  summary {
    background-color: #333;
    padding-block: 2px;
    padding-inline: 4px;
    border-radius: 4px;
  }

  ul {
    padding-left: 20px;
  }

  a:link {
    color: #26D9D6;

    /* Theme: Teal https://encycolorpedia.com/008080 */
  }

  a:visited {
    color: #DBE9E9;
  }
}

@media only screen and (prefers-color-scheme: light) {
  header {
    background-color: #e5e5e5;
  }

  footer {
    background-color: #e5e5e5;
  }

  code {
    background-color: #e5e5e5;
  }

  summary {
    background-color: #e5e5e5;
    padding-block: 2px;
    padding-inline: 4px;
    border-radius: 4px;
  }

  button {
    cursor: pointer;
    border-radius: 4px;
    background-color: #333;
    color: #e5e5e5;
  }

  ul {
    padding-left: 20px;
  }

  a:link {
    color: #15403F;
  }

  a:visited {
    color: #4f3140;
  }
}

@media only screen and (max-width: 600px) {
  /* Styles for small screens (e.g., mobile devices) */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium-sized screens (e.g., tablets) */
}

@media only screen and (min-width: 1025px) {
  /* Styles for large screens (e.g., desktops) */
}